# Database (Supabase Production)
DATABASE_URL=postgresql://postgres:yg5SnzTE1jTbMLMZ@db.zubzmhcqnwbkquqsagbq.supabase.co:5432/postgres

# Environment
NODE_ENV=production

# Backend URL (for API calls)
VITE_BACKEND_URL=https://yourdomain.com/api

# JJgapo_TEST
PUBLIC_SUPABASE_URL=https://zubzmhcqnwbkquqsagbq.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1YnptaGNxbndia3F1cXNhZ2JxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NzU1ODAsImV4cCI6MjA5MjM1MTU4MH0.ZaliR4sTkeDLbaUa43WabwVkUmcpoWNe_A-DmSBd0Qk
